body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:680px;
  opacity:0.699999988079071;
  color:#1E1E1E;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:680px;
}
#u1 {
  position:absolute;
  left:2px;
  top:332px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:196px;
  top:135px;
  width:631px;
  height:260px;
  opacity:0.800000011920929;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:631px;
  height:260px;
}
#u3 {
  position:absolute;
  left:2px;
  top:122px;
  width:627px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:39px;
  width:250px;
  height:40px;
  color:#000099;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:40px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:48px;
  top:39px;
  width:40px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:680px;
  width:1024px;
  height:680px;
  opacity:0.699999988079071;
  color:#1E1E1E;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:680px;
}
#u9 {
  position:absolute;
  left:2px;
  top:332px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:312px;
  top:174px;
  width:400px;
  height:100px;
  opacity:0.800000011920929;
  font-size:28px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:100px;
}
#u11 {
  position:absolute;
  left:2px;
  top:18px;
  width:396px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:236px;
  top:312px;
  width:391px;
  height:50px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:50px;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:24px;
  text-decoration:none;
  color:#009933;
  text-align:left;
}
#u13 {
  position:absolute;
  left:638px;
  top:312px;
  width:150px;
  height:50px;
  opacity:0.800000011920929;
  font-size:28px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u14 {
  position:absolute;
  left:2px;
  top:9px;
  width:146px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:50px;
  top:85px;
  width:920px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:903px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:920px;
  height:1px;
}
#u16 {
  position:absolute;
  left:476px;
  top:443px;
  width:73px;
  height:55px;
  font-size:48px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:55px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:115px;
  top:548px;
  width:794px;
  height:260px;
  opacity:0.800000011920929;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:794px;
  height:260px;
}
#u19 {
  position:absolute;
  left:2px;
  top:122px;
  width:790px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:180px;
  top:590px;
  width:300px;
  height:175px;
  opacity:0.800000011920929;
  font-size:28px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:175px;
}
#u21 {
  position:absolute;
  left:2px;
  top:56px;
  width:296px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:552px;
  top:590px;
  width:291px;
  height:175px;
  opacity:0.800000011920929;
  font-size:28px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:175px;
}
#u23 {
  position:absolute;
  left:2px;
  top:56px;
  width:287px;
  word-wrap:break-word;
}
