body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:680px;
  opacity:0.699999988079071;
  color:#1E1E1E;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:680px;
}
#u1 {
  position:absolute;
  left:2px;
  top:332px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:680px;
  width:1024px;
  height:680px;
  opacity:0.699999988079071;
  color:#1E1E1E;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:680px;
}
#u3 {
  position:absolute;
  left:2px;
  top:332px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:100px;
  top:39px;
  width:171px;
  height:40px;
  color:#000099;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:40px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:48px;
  top:39px;
  width:40px;
  height:40px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:50px;
  top:85px;
  width:920px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:903px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:920px;
  height:1px;
}
#u9 {
  position:absolute;
  left:132px;
  top:140px;
  width:766px;
  height:193px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:68px;
  font-size:28px;
  text-align:center;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:68px;
}
#u11 {
  position:absolute;
  left:2px;
  top:18px;
  width:186px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:190px;
  top:0px;
  width:190px;
  height:68px;
  font-size:28px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:68px;
}
#u13 {
  position:absolute;
  left:2px;
  top:18px;
  width:186px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:380px;
  top:0px;
  width:190px;
  height:68px;
  font-size:28px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:68px;
}
#u15 {
  position:absolute;
  left:2px;
  top:18px;
  width:186px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:570px;
  top:0px;
  width:191px;
  height:68px;
  font-size:28px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:68px;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:187px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:0px;
  top:68px;
  width:190px;
  height:60px;
  font-size:28px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:60px;
}
#u19 {
  position:absolute;
  left:2px;
  top:14px;
  width:186px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:190px;
  top:68px;
  width:190px;
  height:60px;
  font-size:28px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:60px;
}
#u21 {
  position:absolute;
  left:2px;
  top:14px;
  width:186px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:380px;
  top:68px;
  width:190px;
  height:60px;
  font-size:28px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:60px;
}
#u23 {
  position:absolute;
  left:2px;
  top:14px;
  width:186px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:570px;
  top:68px;
  width:191px;
  height:60px;
  font-size:28px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:60px;
}
#u25 {
  position:absolute;
  left:2px;
  top:14px;
  width:187px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:0px;
  top:128px;
  width:190px;
  height:60px;
  font-size:28px;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:60px;
}
#u27 {
  position:absolute;
  left:2px;
  top:22px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:190px;
  top:128px;
  width:190px;
  height:60px;
  font-size:28px;
  text-align:center;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:60px;
}
#u29 {
  position:absolute;
  left:2px;
  top:22px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:380px;
  top:128px;
  width:190px;
  height:60px;
  font-size:28px;
  text-align:center;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:60px;
}
#u31 {
  position:absolute;
  left:2px;
  top:22px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:570px;
  top:128px;
  width:191px;
  height:60px;
  font-size:28px;
  text-align:center;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:60px;
}
#u33 {
  position:absolute;
  left:2px;
  top:22px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:48px;
  top:386px;
  width:920px;
  height:10px;
}
#u34_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_end {
  position:absolute;
  left:903px;
  top:-5px;
  width:18px;
  height:20px;
}
#u34_line {
  position:absolute;
  left:0px;
  top:5px;
  width:920px;
  height:1px;
}
#u35 {
  position:absolute;
  left:48px;
  top:406px;
  width:920px;
  height:48px;
  opacity:0.800000011920929;
  font-family:'Arial Regular', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  height:48px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:920px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:868px;
  top:39px;
  width:100px;
  height:36px;
  opacity:0.800000011920929;
  font-size:28px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:36px;
}
#u38 {
  position:absolute;
  left:2px;
  top:2px;
  width:96px;
  word-wrap:break-word;
}
